<div class="navbar">
    <header>
        <a href="#" class="logo">RestBook</a>
        <ul>
            <li><a href="#restaurant">Restaurant</a></li>
            <li><a href="#book">Booking</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </header>
</div>